[submodule "gsl_server/third_party/imgui"]
	path = gsl_server/third_party/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "gsl_server/third_party/implot"]
	path = gsl_server/third_party/implot
	url = git@github.com:epezent/implot.git
[submodule "gaden"]
	path = gaden
	url = git@github.com:MAPIRlab/gaden.git
[submodule "gas_distribution_mapping/gmrf_wind"]
	path = gas_distribution_mapping/gmrf_wind
	url = git@github.com:MAPIRlab/GMRF-wind.git
