[submodule "gaden"]
	path = gaden
	url = git@github.com:MAPIRlab/gaden.git
[submodule "gas_distribution_mapping/gmrf_wind"]
	path = gas_distribution_mapping/gmrf_wind
	url = git@github.com:MAPIRlab/GMRF-wind.git
