[submodule "gsl_actionserver/third_party/imgui"]
	path = gsl_actionserver/third_party/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "gsl_actionserver/third_party/implot"]
	path = gsl_actionserver/third_party/implot
	url = git@github.com:epezent/implot.git
[submodule "gsl_actionserver/third_party/spdlog"]
	path = gsl_actionserver/third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "gaden"]
	path = gaden
	url = git@github.com:MAPIRlab/gaden.git
[submodule "gas_distribution_mapping/gmrf_wind"]
	path = gas_distribution_mapping/gmrf_wind
	url = git@github.com:MAPIRlab/GMRF-wind.git
[submodule "navigation-assistant"]
	path = navigation-assistant
	url = git@github.com:MAPIRlab/navigation-assistant.git
[submodule "gsl_actionserver/third_party/glfw"]
	path = gsl_actionserver/third_party/glfw
	url = git@github.com:glfw/glfw.git
[submodule "olfaction_msgs"]
	path = olfaction_msgs
	url = git@github.com:MAPIRlab/olfaction_msgs.git
[submodule "GMRF-wind"]
	path = GMRF-wind
	url = git@github.com:MAPIRlab/GMRF-wind.git
