<launch>

 	<arg name="scenario" default="B" />
 	<arg name="simulation" default="1,3-2,4_fast" />
	<arg name="generateCoppeliaScene" default="True"/>
    
    <node pkg="gaden_preprocessing" exec="preprocessing" name="preprocessing" output="screen" >
     #Cell size
		<param name="cell_size" value="0.1"/>
		#CAD models of the enviroment (.stl)
		<param name="model_0" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01-main.stl"/>
		<param name="model_1" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet005.stl"/>
		<param name="model_2" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet006.stl"/>
		<param name="model_3" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet007.stl"/>

			#CAD model of the outlets (.stl)
		<param name="outlets_model_0" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet001.stl"/>
		<param name="outlets_model_1" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet002.stl"/>
		<param name="outlets_model_2" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet003.stl"/>
		<param name="outlets_model_3" value="$(find-pkg-share pmfs_env)/$(var scenario)/cad_models/House01Outlet004.stl"/>

			#3D Location of a point in free-space
		<param name="empty_point_x" value="0.0"/>
		<param name="empty_point_y" value="0.0"/>
		<param name="empty_point_z" value="1.0"/>

		<param name="floor_height" value="-0.64"/>
		<param name="worldFile" value="$(find-pkg-share pmfs_env)/$(var scenario)/launch/ros/stage.world"/>

		#Wind Data (the node will append _i.csv to the name that is specified here)
		<param name="uniformWind" value="false"/>
		<param name="wind_files" value="$(find-pkg-share pmfs_env)/$(var scenario)/wind_simulations/$(var simulation)/$(var simulation)"/>

		#Where to write the output files
		<param name="output_path" value="$(find-pkg-share pmfs_env)/$(var scenario)" />
        <param name="generateCoppeliaScene" value="$(var generateCoppeliaScene)" />
    </node>

	<include file="$(find-pkg-share pmfs_env)/navigation_config/conditional_coppelia_launch.py" >
      <arg name="launchCoppelia" value="$(var generateCoppeliaScene)"/>
    </include>  
</launch>