<!-- mission file for GADEN player -->

<launch>  
    
   <arg name="scenario" default="House02" />
   <arg name="simulation" default="3,5-1_fast" />
   <arg name="source_location_x" default="0.00" />
   <arg name="source_location_y" default="-1.00" />
   <arg name="source_location_z" default="0.20" />
   <arg name="gas_type" default="10" />

    <node pkg="gaden_player" type="gaden_player" name="gaden_player" output="screen">
    <param name="verbose" value="false" />
    <param name="player_freq" value="20" />         ###(Hz) Freq for loading the simulation log_files
    <param name="initial_iteration" value="0" />
    <param name="num_simulators" value="1" />      ### Number of simulations to load [1-inf] (useful for multiple sources and gases)

    # Data from the "filament_simulator" pkg. Multiple sources can be set here
    <param name="simulation_data_0" value="$(find GrGSL_env)/$(arg scenario)/gas_simulations/$(arg simulation)/FilamentSimulation_gasType_10_sourcePosition_$(arg source_location_x)_$(arg source_location_y)_$(arg source_location_z)" />
    
    # Loop options        
    <param name="allow_looping" value="false" />
    <param name="loop_from_iteration" value="280" />
    <param name="loop_to_iteration" value="288" />
    
    <param name="occupancyFile" value="$(find GrGSL_env)/$(arg scenario)/OccupancyGrid3D.csv" />
    
    </node>
</launch>
